// Featured Courses styling
.featured_courses {

  width: 100%;
  height: 45rem;
  background: linear-gradient(to bottom, $rusty-red, rgba(180, 40, 63, 0)), url('../assets/images/about-founder-bg.jpg');
  background: {
    size: cover;
    repeat: no-repeat;
  }

  &__main {
    
    &__head {
      h2 {
        font-family: $league;
        color: white;
        text-transform: uppercase;
        margin: 0;
        font-size: 3rem;
        width: 10rem;
        padding: 5rem 0 0.5rem 0;
        margin-left: 5rem;
        border-bottom: 2px solid white;
      }
    }

    &__nav {
      ul {
        list-style: none;
        width: 38rem;
        margin-left: -9.5rem;
        margin-top: 4rem;
        transition: 0.4s ease-in-out;
      }
      li {
        padding: 1.5rem 1rem 1.5rem 10rem;
        transform: skewX(30deg);
        cursor: pointer;
        a:link, a:visited, a:active {
          display: inline-block;
          transform: skewX(-30deg);
          color: white;
          font-weight: $semiBold;
          text-decoration: none;
          font-size: 1.5rem;
        } 
        margin: 0.5rem;
        text-transform: uppercase;
        color: white;
        background-color: $rusty-red;
        transition: 0.4s ease-in-out;
        &:hover {
          background-color: white;
          width: 32rem;
        }
        &:hover a {
          color: $rusty-red;
        }
      }
    }

  }

}