// Navbars styling
.navbar--fixed {
  width: 100%;
  height: 18vh;
  background-color: $rusty-red;
  position: fixed;
  top: -19vh;
  z-index: 4;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    margin: 0 auto;
    width: 82%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      height: 10rem;
      width: 20rem;
    }
  }

  &__search {
    input[type='text'] {
      border: none;
      padding: 1.8rem 4rem 1.8rem 4rem;
      border-radius: 10rem;
      width: 55rem;
      outline: none;
      font-weight: $medium;
      color: grey;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    ::placeholder{
      color: rgb(172, 172, 172);
      font-size: 1.5rem;
      letter-spacing: 0.4rem;
      font-weight: $medium;
    }
    button {
      padding: 1.8rem;
      color: white;
      background-color: $rusty-red;
      border: none;
      width: 16rem;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      margin-left: -0.3rem;
      letter-spacing: 0.5rem;
      cursor: pointer;
      font-weight: $semiBold;
      transition-duration: 0.4s;
      &:hover {
        background-color: darken($rusty-red, 6%);
      }
    }
  }
}