// Policies Styling
.policy_container {
  height: 60vh;
}
.policy_header {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: 1px solid $rusty-red;
  padding: 3rem 3rem;
  h3 {
    text-align: center;
    color: $rusty-red;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
  }
}