// Testimonials Styling
.testimonials {

  height: 20rem;
  width: 100%;
  background: linear-gradient(0deg, rgba(180, 40, 63, 0.8), rgba(180, 40, 63, 0.8)), url('../assets/images/header-bg.jpg');
  background: {
    size: cover;
    position: 100% 30%;
  }

  &__container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: $league;
    h3 {
      font-size: 3.45rem;
      color: white;
      margin: 0;
    }
    span {
      font-size: 1.8rem;
      color: $light-red;
      text-transform: uppercase;
    }
  }

  &__body__container {
    width: 70%;
    height: 84.5%;
    position: relative;
  }

  &__body {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;
    height: auto;
    padding-top: 1rem;
    box-sizing: border-box;

    &__item {
      color: white;
      margin: 0 3.5rem 0 3.5rem;
      img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        border: 3px solid $light-red;
      }
      h5 {
        font-weight: $medium;
        font-size: 1.3rem;
        margin: 0.7rem 0 0 0;
        text-align: center;
        text-transform: capitalize;
      }
      h6 {
        font-weight: $light;
        margin: 0.2rem 0 0 0;
        text-align: center;
        text-transform: uppercase;
      }
    }

  }

}