// ------- Fonts -----------
$mont: 'Montserrat', sans-serif;
// Weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;


// ----- Color Schemes ------
$light-red: #FF8B9C;
$blush-pink: #F34965;
$dark-red: #A62639;
$rusty-red: #DB324D;